﻿.grid
{
	border: 1px solid #c2c2c2 !important;	
	background: none repeat scroll 0 0 #FFFFFF;    
    border-bottom: 2px solid #c2c2c2 !important;	
}


.grid td
{
	padding: 3px 4px;
}

.gridheader
{
	background: url("../images/header.png") repeat-x scroll left bottom #F4F4F4;
	font-size: 13px;
	padding-bottom: 6px;
	padding-top: 9px;
	text-align: left;
	height: 35px;	
}

.gridheader a:link, .gridheader a:visited
{
	color: #000000;
	text-decoration: underline;
}
.gridheader a:hover
{
	color: #000000;
	text-decoration: none;
}
.griditem
{
	height: 30px;	
}
.griditem td , .gridaltitem td , .gridheader th , .gridpager td 
{
	border-color: #cdcdcd;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
}
.gridaltitem
{
	height: 30px;
	background-color: #EBEBEB;	
}
.gridempty
{
	height: 50px;
	text-align: center;
	vertical-align: middle;
}

.gridpager
{
	font-weight: bold;
	text-align: center;
	height: 28px;
	background-color:#d9d9d9;	
}
.gridpager td 
{	
	padding: 0px 5px;		
}
.gridpager td table 
{
	margin: 0px;
	width: auto;
}
.gridpager td table tr td
{
	padding: 0px 5px;	
	border: none;
}
.gridpager span
{
	color: #444444;	
	font-size: 17px;
}
.gridpager a:link, .gridpager a:visited
{
	color: #444444 !important;	
	font-size: 10px;	
	position: relative;
    top: 2px;
}
.gridpager a:hover
{
	text-decoration: none;
}

/************ css for custom header with dropdown  ******************/
.gridheadercustom {
   background: url("../images/header.png") repeat-x scroll left bottom #F4F4F4;
	font-size: 13px;
	padding-bottom: 6px;
	padding-top: 9px;
	text-align: left;
	height: 50px;
  
}
.gridheadercustom th {
    /* border-bottom: 0px; */
      border-color: #cdcdcd;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
}
.gridheadercustom select {
    font-size: 10px;
    margin: 5px 0 0;
    padding: 1px 0px 0px 0px !important;
    height: 18px;
}
.gridheadercustom a:link, .gridheadercustom a:visited
{
	color: #000000;
	text-decoration: none;
}
.gridheadercustom a:hover
{
	color: #000000;
	text-decoration: none;
}