﻿body
{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
	font-size: 13px;
	background-color: white;
	color: Black;
}
h1
{
	font-size: 17px;
	padding: 0px;
	margin: 0px;
	font-style: italic;
	font-weight: normal;
}

.topbg
{
	background-color: white;
	width: 2%;
	border-bottom: solid 2px #a3cd46;
}

.headerbg
{
	padding-left: 5px;
	border-right: solid 1px #ccc;
	border-left: solid 1px #ccc;
}

.menubg
{
	background-color: #eee;
	border-bottom: solid 2px #a3cd46;
	height: 35px;
	border-right: solid 1px #ccc;
	border-left: solid 1px #ccc;
	border-top: solid 1px #ccc;
}

.middlebg
{
	background-color: white;
}


.loginTopbg
{
	background-color: Black;
}

.middletable
{
	background-color: white;
	min-height: 400px; /* moz/FF/Opera */
	_height: 400px; /* IE-win */
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
	border-collapse: collapse;
}

.Copyright
{
	font-size: 12px;
}

.loginbox
{
	border: solid 1px black;
	border-collapse: collapse;
	background-color: White;
}

.whitefont
{
	color: White;
	font-style: italic;
}

.inputcontrol
{
	border: solid 1px #ABC1DE;
	border-collapse: collapse;
	height: 20px;
}

textarea {
    border: solid 1px #ABC1DE;
}
.button
{
	color: #FFFFFF;
	/*background-image: url(../images/button.gif);*/
    background-color: #585657;
	font-weight: bold;
	border-style: none;
	min-width: 58px;
	height: 25px;
	font-size: 11px;
}
.button2
{
	color: #FFFFFF;
	background-image: url(../images/button2.png);
	font-weight: bold;
	border-style: none;
	width: 90px;
	height: 25px;
	font-size: 11px;
}

a:link, a:active, a:visited
{
	color: #025891;
	text-decoration: underline;
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
}
a:hover
{
	text-decoration: none;
}
.Menubutton
{
	color: #FFFFFF;
	background-image: url(../images/MenuButton.jpg);
}
.msg
{
	color: red;
	font-weight: bold;
}
.gridtopBG
{
	background-color: #585657;
	height: 25px;
	color: White;
	padding-left: 5px;
	height: 15px;
}
.tableBorder
{
	border-left: solid 1px black;
	border-right: solid 1px black;
	border-top: solid 1px black;
	border-bottom: solid 1px black;
	border-collapse: collapse;
	background-color: White;
}
.dashboard
{
}
.menubg span, a.menu:link, a.menu:active, a.menu:visited
{
	color: #025891;
	text-decoration: none;
	margin-right: 30px;
	font-size: 14px;	
    background-color: transparent;
    margin-left: 0px !important;
}
a.menu:hover
{
	padding-bottom: 10px;
	text-decoration: underline;
}
a.hylink:link, a.hylink:active, a.hylink:visited
{
	text-decoration: none;
	font-weight: bold;
	padding-left: 5px;
}
a.hylink:hover
{
	text-decoration: underline;
}

.lableText
{
	vertical-align: middle;
	padding-right: 10px;
}

.Headeline
{
	border-bottom: solid 1px #ccc;
	border-collapse: collapse;
	padding: 15px 0px 5px 0px;
}
.blueButton
{
	color: #FFFFFF;
	background-color: #575757;
	font-weight: bold;
	border-style: none;
	width: 60px;
	height: 29px;
	cursor: pointer;
	border: 1px solid #575757;
	padding-bottom: 3px;
	padding-top: 3px;
}

.RadTabStrip_Gray
{
	line-height: 0;
}
.RadTabStrip_Gray .rtsLI, .RadTabStrip_Gray .rtsLink
{
	color: #333;
}
.RadTabStrip_Gray .rtsLink
{
	text-decoration: none;
	font: 11px/20px "segoe ui" ,arial,sans-serif;
}
.RadTabStripTop_Gray .rtsOut, .RadTabStripBottom_Gray .rtsOut
{
	text-align: center;
}
.RadTabStrip
{
	position: relative;
	top: 1px;
}

/* -------------------- Box module -------------------- */
div.module
{
	background: url('../images/module-body-left-bg.gif') no-repeat scroll bottom left;
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

div.module div.module-body
{
	background: url('../images/module-body-right-bg.gif') no-repeat scroll bottom right;
	padding: 20px 3% 20px 3%;
	float: left;
	width: 94%;
}


div.module div.module-table-body
{
	background: url('../images/module-body-right-bg.gif') no-repeat scroll bottom right;
	padding: 0;
	float: left;
	width: 100%;
}
div.module h2
{
	/* Sliding right image */
	background: url('../images/module-header-left-bg.gif') no-repeat scroll top left;
	display: block;
	float: left;
	height: 32px; /* CHANGE THIS VALUE ACCORDING TO IMAGE HEIGHT */
	margin-right: 0px;
	margin-top: 0px;
	padding-right: 0px; /* CHENGE THIS VALUE ACCORDING TO RIGHT IMAGE WIDTH */ /* FONT PROPERTIES */
	text-decoration: none;
	color: #444444;
	font-size: 12px;
	font-weight: bold;
	width: 100%;
	margin-bottom: 0;
	letter-spacing: normal;
}

div.module h2 span
{
	/* Background left image */
	background: url('../images/module-header-right-bg.gif') no-repeat top right;
	display: block;
	line-height: 20px; /* CHANGE THIS VALUE ACCORDING TO BUTTONG HEIGHT */
	padding: 7px 0 5px 18px;
}

div.module table
{
	width: 100%;
	margin: 0 0 10px 0;
}

div.module table.tr
{
	border-collapse: separate;
	border-right: 1px solid #aaaaaa;
	border-left: 1px solid #aaaaaa;
}

div.module table th
{
	background-color: #eeeeee;
	color: #444444;
	padding: 5px;
	text-align: left;
	border-right: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
}

div.module table td
{
	background-color: #ffffff;
	padding: 5px; /*	border-right: 1px solid #d9d9d9; */
}

div.module table tr.odd td
{
	background-color: #f1f5fa;
}

/****Popup Button*****/
.myButton
{
	background: linear-gradient(to bottom, #DADADA 5%, #CACACA 100%) repeat scroll 0 0 #CACACA;
	border: 1px solid #B5B5B5;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 3px 4px 0 0 #434441;
	color: #434441 !important;
	display: inline-block;
	font-size: 17px;
	font-weight: bold;
	padding: 12px 44px;
	text-decoration: none;
}
.myButton:hover
{
	background: linear-gradient(to bottom,#CACACA 5%,#DADADA   100%) repeat scroll 0 0 #DADADA;
}
.myButton:active
{
	position: relative;
	top: 1px;
	color: #6E6E6E !important;
}

.middletable11
{
	border-color: #003366;
	border-collapse: separate;
	font-size: 11px;
	color: #343740;
}

.middletable11 TD
{
	border-color: #c6c6c6;
	border-collapse: separate;
}
.middletable1
{
	/*border :1px;*/
	font-size: 11px;
	color: #FFFFFF;
}
.HideMe
{
	display: none;
}

.calendardate
{
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
.highlightgray1
{
	/*background-color: #DAEFFC;*/
	background-color: #AEAFB3; /*#27303F;*/
}

.highlightgray
{
	/*background-color: #F9F9F9;*/
	background-color: #FFFCF4;
}

.taskcalcompleted
{
	color: Green;
	text-decoration: underline;
	font-size: 9px;
}

.taskcalcompleted:hover
{
	color: green;
	text-decoration: none;
	font-size: 9px;
}

.taskcal
{
	color: orangered;
	text-decoration: underline;
	font-size: 9px;
}
.taskcal:hover
{
	color: orangered;
	text-decoration: none;
	font-size: 9px;
}

.calendarcontent
{
	color: black;
	text-decoration: underline;
	font-weight: bold;
}

.calendarcontent:hover
{
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.calendarcontentview
{
	font-weight: bold;
	color: darkgreen;
	text-decoration: underline;
}

.calendarcontentview:hover
{
	color: darkgreen;
	text-decoration: none;
	font-weight: bold;
}

.calendarcontentupdate
{
	font-weight: bold;
	color: brown;
	text-decoration: underline;
}

.calendarcontentupdate:hover
{
	color: brown;
	text-decoration: none;
	font-weight: bold;
}

.calendarcontent1
{
	color: orangered;
	text-decoration: none;
	font-size: 9px;
}

.calendarcontent2
{
	color: green;
	text-decoration: none;
	font-size: 9px;
}

.calendarcontent3
{
	color: blue;
	text-decoration: none;
	font-size: 9px;
}

.tableAddField
{
	width: 150px;
	margin-left: 10px;
	border: solid 3px #D6D6D6;
	padding: 5px 5px 5px 5px;
	background-color: #1D1F21;
	border-spacing: 1rem;
	border-collapse: collapse;
}

.tableAddField th
{
	background-color: #E18728;
	height: 30px;
	color: #FFFFFF;
	font-size: 16px;
}

.tableAddField td
{
	border-bottom: solid 1px #D6D6D6;
	height: 30px;
}

.tableAddField a:link, .tableAddField a:active, .tableAddField a:visited
{
	background-color: #1D1F21;
	color: #FFFFFF;
	font-size: 14px;
	border:0;
	text-decoration:none;
	margin-left:10px !important;
}


.buttonAddField
{
	background-color: #1D1F21;
	color: #FFFFFF;
	font-size: 14px;
	border:0;
	}
#Background
{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: Gray;
    filter: alpha(opacity=40);
    opacity: 0.4;
}
#Progress
{
    position: fixed;
    top: 30%;
    left: 48%;
}