﻿.Menu {

}

.sub_menu
{
	position: absolute;
	margin-left: -40px;
	background-color: #EEEEEE;
	width: 190px;
	display: none;
	border-left: 2px solid #A3CD46;
	border-right: 2px solid #A3CD46;
	border-bottom: 1px solid #a3cd46;
    top: 40px;
}
.sub_menu ul 
{
	margin: 0px;
	}
.sub_menu ul li
{
	border-bottom: 1px Solid #A3CD46 !important;
	float: left !important;
	height: auto !important;
	margin-left: -40px;
	padding: 6px 0px 6px 10px;
	width: 180px !important;
	list-style-type: none !important;
}
.sub_menu ul li a
{
	color: #025891;
	font-size: 13px;
	text-decoration: none !important;
    margin: 0px !important;
    background-color: transparent;
}
.sub_menu ul li a:hover
{
	text-decoration: underline !important;
}

